@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h3 class="text-danger">Ошибка!</h3>
    <ul class="list-group rounded-pill">
        <li class="list-group-item list-group-item-secondary"><h4>Возможные причины:</h4></li>
        <li class="list-group-item">Такой страницы не существует </li>
        <li class="list-group-item">У вас нет доступа к данной странице </li> 
    </ul>
</div>
