@model BasseinProekt.Models.Raspisanie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Raspisanie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KartaKlientaID" class="control-label"></label>
                <select asp-for="KartaKlientaID" class ="form-control" asp-items="ViewBag.KartaKlientaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrenerID" class="control-label"></label>
                <select asp-for="TrenerID" class ="form-control" asp-items="ViewBag.TrenerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="VannaID" class="control-label"></label>
                <select asp-for="VannaID" class ="form-control" asp-items="ViewBag.VannaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateNachala" class="control-label"></label>
                <input asp-for="DateNachala" class="form-control" />
                <span asp-validation-for="DateNachala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnd" class="control-label"></label>
                <input asp-for="DateEnd" class="form-control" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
